/* Reset some default styles */
body, h1, h2, ul, p, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure box-sizing consistency */
}

/* Basic styling for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Styling for the chat container */
#chat {
    float: left;
    width: 60%;
    margin-left: 5%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 600px; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
}

.sender {
    background-color: #367056;
    color: #fff; /* Text color for sender messages */
    text-align: left;
    border-radius: 8px;
    padding: 8px;
    margin: 5px 0;
    width: 150px;
}

.receiver {
    background-color: #4695ad;
    color: #fff; /* Text color for receiver messages */
    text-align: right;
    border-radius: 8px;
    padding: 8px;
    margin: 5px 0;
    width: 150px;

}

/* Styling for the user list container */
#users {
    float: left;
    width: 20%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 600px; /* Adjust height as needed */
    overflow-y: auto;
}

/* List item styling for users */
#user-list {
    list-style-type: none;
    padding: 0;
}

#user-list li {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #d89140;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#user-list li:hover {
    background-color: #f0f0f0;
}

/* Styling for chat header */
#chat h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: center;
}

/* Styling for message box */
#message-box {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

/* Styling for message input */
#message-input {
    width: calc(100% - 22px); /* Adjust for padding and border */
    height: 50px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Styling for send button */
#send-button {
    width: 80px;
    height: 50px;
    margin: 10px;
    background-color: #367056;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#send-button:hover {
    background-color: #276043;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #chat, #users {
        width: 100%; /* Stack chat and users on top of each other on smaller screens */
        margin: 0;
        float: none;
    }
}
