body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    /*background-image: url('WhatsApp Image 2024-07-24 at 12.43.50.jpeg');
    background-size: cover; /* Cover the entire background */
    /*background-repeat: no-repeat; /* No repeating of background */
    /*background-attachment: fixed; /* Fixed position */
    /*background-position: center center; /* Center the background */
    background: linear-gradient(to bottom, #0956b9, #ffffff); /* White to blue gradient */
    overflow-y: auto; /* Enable vertical scrolling */   

}

h1 {
    text-align: center;
    color: #fcfcfc;
    margin-top: 20px;
}

#events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    opacity: 0.9;
}

.event {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.event p {
    color: #666;
}

.event a {
    color: #03274e;
    text-decoration: none;
}

.event a:hover {
    text-decoration: underline;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #0066cc;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #004a99;
}
/* Back button styles */
.back-button {
    position: fixed; /* Change to fixed to keep it in the same spot when scrolling */
    top: 20px; /* Distance from the top */
    left: 20px; /* Distance from the left */
    background: linear-gradient(to bottom, #0956b9, #ffffff); /* White to blue gradient */
    overflow-y: auto; /* Enable vertical scrolling */
    color: white; /* Text color */
    padding: 10px 15px; /* Button padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* No underline */
    font-size: 1rem; /* Font size */
    transition: background-color 0.3s, transform 0.2s; /* Transition effects */
    z-index: 1000; /* Ensure it’s on top of other elements */
}

.back-button:hover {
    background: linear-gradient(to bottom, #0956b9, #ffffff); /* White to blue gradient */
    overflow-y: auto; /* Enable vertical scrolling */
    transform: scale(1.05); /* Slightly grow button on hover */
}
