/* Reset and base styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Untitled-design-7.png');
    margin-top: 210px;
}

.home-container {
    padding-top: 70px; /* Adjust padding to accommodate fixed header */
    background-color: transparent;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center; /* Center the content horizontally */
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icon {
    margin: 0 10px;
    color:#0d0aa8;
    font-size: 24px;
}

.horizontal-menu {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line if needed */
    justify-content: center;
    gap: 10px; /* Space between buttons */
    margin-top: 20px; /* Add some margin to the top */
}

/* Button Styles */
.like-btn {
    background-color: #030ea8;
    border: none;
    color:#0d0aa8;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-color:#0d0aa8;
}

.like-btn:hover {
    background-color: #0d0aa8;
    transform: scale(1.05);
}

.logout-btn {
    background-color: #f44336;
    color: white;
}

.menu-toggle {
    display: none; /* Hidden if not needed */
}
