body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #92cfe2;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('Image 4.webp'); 
    margin: 0;
    padding: 0;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center center;
}

.back-btn {
    margin: 20px;
    padding: 12px 20px;
    background-color: #3638b6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.back-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    border-radius: 25px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search-bar input:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
    outline: none;
}

.executives-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.executives-list li {
    background: #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 15px 20px;
    width: 100%;
    max-width: 500px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    opacity: 0.9;

}

.executives-list li:hover {
    background-color: #f0f4f8;
    transform: translateY(-2px);
}

.profile-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 40%;
    max-width: 700px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0.9;
    transform: translate(-50%, -50%) scale(0.9);
}

.profile-popup.show {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.profile-popup img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.profile-popup h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.profile-popup p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
}

.profile-popup span {
    font-weight: bold;
    color: #555;
}

.close-btn {
    display: block;
    margin: 0 0 20px auto;
    padding: 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.close-btn:hover {
    background-color: #c62828;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
